<section id="the-7-healths" class="report-section py-5 pb-xl-7">
  <div class="container">
    <h2 class="section-title mb-3">
      <small class="d-block mb-3">LIFE GOALS</small>
      <div class="d-flex justify-content-between align-items-center">
        <span>The 7 Healths</span>
        <ul class="report-actions-list list-inline mb-0 d-flex d-print-none">
          <li class="list-inline-item me-3">
            <a href="#" class="printLink" data-id="the-7-healths">Print <i class="fas fa-print"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
          </li>
        </ul>
      </div>
    </h2>
    <p class="lead mb-5">Below is your weighted health score based around the principles of the <strong class="fw-800">“7 Healths”</strong>. This determines and gauges how <strong class="fw-800">you view success</strong>, what is important to you and your perspective on what success means.  According to your answers, your success is heavily weighted towards <strong class="fw-800">financial</strong>, <strong class="fw-800">vocational</strong> and <strong class="fw-800">relational health</strong>.</p>
    <ul class="life-goals-list list-unstyled mb-0">
      {% if report.life_goals.spiritual_health %}
        <li class="mb-3">
          <div class="life-goal-card rounded bg-white border-start border-8 border-secondary">
            <div class="row align-items-center">
              <div class="col-lg-9 border-end px-3">
                <h4 class="mb-0">Spiritual</h4>
                <p class="mb-0">It was a humorously perilous business for both of us. For, before we proceed further, it must be said that.</p>
              </div>
              <div class="col-lg-3 text-center">
                <span class="score-value d-block">
                  {{ report.life_goals.spiritual_health }}
                </span>
                <span class="score-label d-block">Your Score</span>
              </div>
            </div>
          </div>
        </li>
      {% endif %}
      {% if report.life_goals.relational_health %}
        <li class="mb-3">
          <div class="life-goal-card rounded bg-white border-start border-8 border-pink">
            <div class="row align-items-center">
              <div class="col-lg-9 border-end px-3">
                <h4 class="mb-0">Relational</h4>
                <p class="mb-0">It was a humorously perilous business for both of us. For, before we proceed further, it must be said that.</p>
              </div>
              <div class="col-lg-3 text-center">
                <span class="score-value d-block">
                  {{ report.life_goals.relational_health }}
                </span>
                <span class="score-label d-block">Your Score</span>
              </div>
            </div>
          </div>
        </li>
      {% endif %}
      {% if report.life_goals.physical_health %}
        <li class="mb-3">
          <div class="life-goal-card rounded bg-white border-start border-8 border-danger">
            <div class="row align-items-center">
              <div class="col-lg-9 border-end px-3">
                <h4 class="mb-0">Physical</h4>
                <p class="mb-0">It was a humorously perilous business for both of us. For, before we proceed further, it must be said that.</p>
              </div>
              <div class="col-lg-3 text-center">
                <span class="score-value d-block">
                  {{ report.life_goals.physical_health }}
                </span>
                <span class="score-label d-block">Your Score</span>
              </div>
            </div>
          </div>
        </li>
      {% endif %}
      {% if report.life_goals.emotional_health %}
        <li class="mb-3">
          <div class="life-goal-card rounded bg-white border-start border-8 border-warning">
            <div class="row align-items-center">
              <div class="col-lg-9 border-end px-3">
                <h4 class="mb-0">Emotional</h4>
                <p class="mb-0">It was a humorously perilous business for both of us. For, before we proceed further, it must be said that.</p>
              </div>
              <div class="col-lg-3 text-center">
                <span class="score-value d-block">
                  {{ report.life_goals.emotional_health }}
                </span>
                <span class="score-label d-block">Your Score</span>
              </div>
            </div>
          </div>
        </li>
      {% endif %}
      {% if report.life_goals.mental_health %}
        <li class="mb-3">
          <div class="life-goal-card rounded bg-white border-start border-8 border-info">
            <div class="row align-items-center">
              <div class="col-lg-9 border-end px-3">
                <h4 class="mb-0">Mental</h4>
                <p class="mb-0">It was a humorously perilous business for both of us. For, before we proceed further, it must be said that.</p>
              </div>
              <div class="col-lg-3 text-center">
                <span class="score-value d-block">
                  {{ report.life_goals.mental_health }}
                </span>
                <span class="score-label d-block">Your Score</span>
              </div>
            </div>
          </div>
        </li>
      {% endif %}
      {% if report.life_goals.vocational_health %}
        <li class="mb-3">
          <div class="life-goal-card rounded bg-white border-start border-8 border-cyan">
            <div class="row align-items-center">
              <div class="col-lg-9 border-end px-3">
                <h4 class="mb-0">Vocational</h4>
                <p class="mb-0">It was a humorously perilous business for both of us. For, before we proceed further, it must be said that.</p>
              </div>
              <div class="col-lg-3 text-center">
                <span class="score-value d-block">
                  {{ report.life_goals.vocational_health }}
                </span>
                <span class="score-label d-block">Your Score</span>
              </div>
            </div>
          </div>
        </li>
      {% endif %}
      {% if report.life_goals.financial_health %}
        <li class="">
          <div class="life-goal-card rounded bg-white border-start border-8 border-primary">
            <div class="row align-items-center">
              <div class="col-lg-9 border-end px-3">
                <h4 class="mb-0">Financial</h4>
                <p class="mb-0">It was a humorously perilous business for both of us. For, before we proceed further, it must be said that.</p>
              </div>
              <div class="col-lg-3 text-center">
                <span class="score-value d-block">
                  {{ report.life_goals.financial_health }}
                </span>
                <span class="score-label d-block">Your Score</span>
              </div>
            </div>
          </div>
        </li>
      {% endif %}
    </ul>
  </div>
</section>