{% extends "base.twig" %}

{% block content %}
  <div class="welcome-section py-5 text-center text-sm-start">
    <div class="container">
      <h1 class="greeting-text h4 fw-400 mb-5">
        Welcome <strong class="fw-800">{{ user.first_name and user.last_name ? user.first_name ~ ' ' ~ user.last_name : user.display_name|title }}!</strong>
        {% if post.meta('greeting_text') %}
          <small class="d-block mt-2">{{ post.meta('greeting_text') }}</small>
        {% endif %}
      </h1>
      {% if post.meta('questionnaire') %}
        <ul class="questionnaire-list list-unstyled">
          {% for item in post.meta('questionnaire') %}
            <li class="mb-3">
              <div class="row align-items-center">
                <div class="col-lg-6 px-sm-3 pb-sm-3 pb-lg-0">
                  <h4 class="item-title fw-800 mb-0">{{ item.title }}</h4>
                  {% if item.description %}
                    <span class="item-description">{{ item.description }}</span>
                  {% endif %}
                </div>
                {% if item.sections %}
                  <div class="col-sm-4 col-lg-2 h-100">
                    <div class="item-meta text-center">
                      <span class="meta-value d-block countUp">{{ item.sections }}</span>
                      <span class="meta-label d-block">Sections</span>
                    </div>
                  </div>
                {% endif %}
                {% if item.questions %}
                  <div class="col-sm-4 col-lg-2 h-100">
                    <div class="item-meta text-center">
                      <span class="meta-value d-block countUp">{{ item.questions }}</span>
                      <span class="meta-label d-block">Questions</span>
                    </div>
                  </div>
                {% endif %}
                {% if item.mins_to_complete %}
                  <div class="col-sm-4 col-lg-2 h-100">
                    <div class="item-meta text-center">
                      <span class="meta-value d-block countUp">{{ item.mins_to_complete }}</span>
                      <span class="meta-label d-block">Mins to complete</span>
                    </div>
                  </div>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if post.meta('welcome_button_label') and post.meta('welcome_button_link') %}
        <a href="{{ post.meta('welcome_button_link') }}" class="btn btn-primary btn-lg mw-270 mt-4">
          {{ post.meta('welcome_button_label') }}
        </a>
      {% endif %}
    </div>
  </div>
{% endblock %}