{% extends "base.twig" %}

{% block content %}
  <div class="questionnaire-app d-lg-flex h-100">
    {% include 'questionnaire/partials/sidebar.twig' %}
    <main>
      <form class="edit-profile-form h-100 py-5" action="" method="post">
        <div class="container-fluid h-100">
          <div class="row h-100 align-items-center justify-content-center">
            <div class="col-xl-11 col-xxl-9">
              <h4 class="form-title mb-3 fw-700">Edit My Profile</h4>
              {% if msg %}
                <div class="alert {{ msg.success ? 'alert-success' : 'alert-danger'  }}" role="alert">
                  {{ msg.success ? msg.success : msg.error }}
                </div>
              {% endif %}
              <ul class="profile-tabs nav nav-tabs mb-4" id="profileTabs" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="true">General</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-photo-tab" data-bs-toggle="tab" data-bs-target="#profile-photo" type="button" role="tab" aria-controls="profile-photo" aria-selected="false">Profile Photo</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="email-pass-tab" data-bs-toggle="tab" data-bs-target="#email-pass" type="button" role="tab" aria-controls="email-pass" aria-selected="false">Email & Password</button>
                </li>
              </ul>
              <div class="tab-content" id="profile-photoTabsContent">
                <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                  <div class="mb-3 row align-items-center">
                    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" name="user_name" class="form-control form-control-lg rounded" id="inputName" value="{{ user.display_name|title }}" required>
                    </div>
                  </div>
                  <div class="mb-3 row align-items-center">
                    <label class="col-sm-2 col-form-label">Date of Birth</label>
                    <div class="col-sm-10 col-xl-9">
                      <div class="row">
                        <div class="col">
                          <select class="form-select form-select-lg" name="user_birth_month">
                            <option value="" {{ not user.birth_month ? 'selected' }}>Month</option>
                            {% for i in range(1, 12) %}
                              {% set value = loop.index < 10 ? '0' ~ i : i %}
                              <option value="{{ value }}" {{ user.birth_month == value ? 'selected' }}>
                                {{ value }}
                              </option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="col">
                          <select class="form-select form-select-lg" name="user_birth_day">
                            <option value="" {{ not user.birth_day ? 'selected' }}>Day</option>
                            {% for i in range(1, 31) %}
                              {% set value = loop.index < 10 ? '0' ~ i : i %}
                              <option value="{{ value }}" {{ user.birth_day == value ? 'selected' }}>
                                {{ value }}
                              </option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="col">
                          <select class="form-select form-select-lg" name="user_birth_year">
                            <option value="" {{ not user.birth_year ? 'selected' }}>Year</option>
                            {% for i in range(1921, 2021) %}
                              <option value="{{ i }}" {{ user.birth_year == i ? 'selected' }}>{{ i }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3 row align-items-center">
                    <label for="inputCity" class="col-sm-2 col-form-label">City</label>
                    <div class="col-sm-10 col-xl-4">
                      <input type="text" name="user_city" class="form-control form-control-lg rounded" id="inputCity" value="{{ user.city }}">
                    </div>
                    <label for="inputState" class="col-sm-2 col-xl-1 col-form-label">State</label>
                    <div class="col-sm-10 col-xl-4">
                      {% set states = [ "Alaska", "Alabama", "Arkansas", "American Samoa", "Arizona", "California", "Colorado", "Connecticut", "District of Columbia", "Delaware", "Florida", "Georgia", "Guam", "Hawaii", "Iowa", "Idaho", "Illinois", "Indiana", "Kansas", "Kentucky", "Louisiana", "Massachusetts", "Maryland", "Maine", "Michigan", "Minnesota", "Missouri", "Mississippi", "Montana", "North Carolina", " North Dakota", "Nebraska", "New Hampshire", "New Jersey", "New Mexico", "Nevada", "New York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Puerto Rico", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Virginia", "Virgin Islands", "Vermont", "Washington", "Wisconsin", "West Virginia", "Wyoming"] %}
                      <select id="inputState" name="user_state" class="form-select form-select-lg">
                        <option value="" {{ not user.state ? 'selected' }}>Select State</option>
                        {% for state in states %}
                          <option value="{{ state }}" {{ user.state == state ? 'selected' }}>{{ state }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <label for="inputCountry" class="col-sm-2 col-form-label">Country</label>
                    <div class="col-sm-10 col-xl-4">
                      {% set countries = ['Afghanistan', 'Åland Islands', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bangladesh', 'Barbados', 'Bahamas', 'Bahrain', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Indian Ocean Territory', 'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia', 'Comoros', 'Congo-Brazzaville', 'Congo-Kinshasa', 'Cook Islands', 'Costa Rica', '$_[', 'Croatia', 'Curaçao', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor', 'Ecuador', 'El Salvador', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Falkland Islands', 'Faroe Islands', 'Federated States of Micronesia', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'French Southern Lands', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Heard and McDonald Islands', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macau', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn Islands', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Réunion', 'Romania', 'Russia', 'Rwanda', 'Saint Barthélemy', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin', 'Saint Pierre and Miquelon', 'Saint Vincent', 'Samoa', 'San Marino', 'São Tomé and Príncipe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Georgia', 'South Korea', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Svalbard and Jan Mayen', 'Sweden', 'Swaziland', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Vietnam', 'Venezuela', 'Wallis and Futuna', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'] %}
                      <select id="inputCountry" name="user_country" class="form-select form-select-lg">
                        <option {{ not user.country ? 'selected' }}>Select Country</option>
                        {% for country in countries %}
                          <option value="{{ country }}" {{ user.country == country ? 'selected' }}>{{ country }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="profile-photo" role="tabpanel" aria-labelledby="profile-photo-tab">
                  <div class="d-flex mb-4 align-items-center">
                    {% if user.avatar %}
                      <img src="{{ user.avatar }}"
                           width="70"
                           height="70"
                           class="rounded-circle me-3"
                           alt="{{ user.display_name|title }}">
                    {% endif %}
                    <small>Current Photo</small>
                  </div>
                  <input class="form-control form-control-lg rounded mb-3" name="user_profile_image" id="inputFile" type="file">
                  <div class="alert alert-warning mb-0 text-center" role="alert">
                    For better results, ensure to upload an image where height and width are approximately equal.  JPG image format only.
                  </div>
                </div>
                <div class="tab-pane fade" id="email-pass" role="tabpanel" aria-labelledby="email-pass-tab">
                  <div class="mb-3 row">
                    <label for="inputEmail" name="user_email" class="col-sm-2 col-form-label mt-1">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control form-control-lg bg-light px-3 rounded" id="inputEmail" value="{{ user.email }}" readonly>
                      <small class="form-text d-block fs-12">This field was used in registration and cannot be changed</small>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label mt-1">Password</label>
                    <div class="col-sm-10">
                      <div class="position-relative">
                        <input type="password" name="user_password" class="form-control form-control-lg bg-light px-3 rounded" id="inputPassword" value="********" readonly>
                        <i class="showPass far fa-eye"></i>
                      </div>
                      <a href="#" class="changePasswordBtn form-text text-primary d-inline-block fs-12">Change password</a>
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <label for="inputConfirm" class="col-sm-2 col-form-label">Confirm</label>
                    <div class="col-sm-10">
                      <div class="position-relative">
                        <input type="password" name="user_confirm_password" class="form-control form-control-lg bg-light px-3 rounded" id="inputConfirm" value="********" readonly>
                        <i class="showPass far fa-eye"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" name="edit_profile" class="btn btn-primary btn-lg mt-4 mw-170">SAVE CHANGES</button>
            </div>
          </div>
        </div>
      </form>
    </main>
  </div>
{% endblock %}