<section id="direct-sales" class="report-section py-5 py-xl-7">
  <div class="container">
    <h2 class="section-title mb-3">
      <small class="d-block mb-3">ASSUMPTIONS</small>
      <div class="d-flex justify-content-between align-items-center">
        <span>Direct Sales</span>
        <ul class="report-actions-list list-inline mb-0 d-flex d-print-none">
          <li class="list-inline-item me-3">
            <a href="#" class="printLink" data-id="direct-sales">Print <i class="fas fa-print"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="/questionnaire/">Edit <i class="fas fa-pencil-alt"></i></a>
          </li>
        </ul>
      </div>
    </h2>
    {% if post.direct_sales_description %}
      <p class="lead mb-5">{{ post.direct_sales_description }}</p>
    {% endif %}
    <div class="row justify-content-center">
      {% if report.direct_sales.my_farm_properties %}
        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
          <div class="report-card rounded bg-white border-start border-8 border-success p-3">
            <span class="card-label d-block mb-2">PROPERTIES IN MY FARM</span>
            <span class="card-value d-block">{{ report.direct_sales.my_farm_properties }}</span>
          </div>
        </div>
      {% endif %}
      {% if report.direct_sales.avg_price_per_sale %}
        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
          <div class="report-card rounded bg-white border-start border-8 border-info p-3">
            <span class="card-label d-block mb-2">AVG PRICE POINT/SALES</span>
            <span class="card-value d-block">
              {{ '$' ~ fn('d_nice_number', report.direct_sales.avg_price_per_sale|replace({'$' : ''})) }}
            </span>
          </div>
        </div>
      {% endif %}
      {% if report.direct_sales.open_houses %}
        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
          <div class="report-card rounded bg-white border-start border-8 border-warning p-3">
            <span class="card-label d-block mb-2">MY OPEN HOUSES THIS YEAR</span>
            <span class="card-value d-block">{{ report.direct_sales.open_houses }}</span>
          </div>
        </div>
      {% endif %}
      {% if report.direct_sales.gross_commission_rate %}
        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
          <div class="report-card rounded bg-white border-start border-8 border-pink p-3">
            <span class="card-label d-block mb-2">MY AVG COMMISSION RATE</span>
            <span class="card-value d-block">{{ report.direct_sales.gross_commission_rate }}</span>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</section>