<section id="expenses" class="report-section py-5 py-xl-7">
  <div class="container">
    <h2 class="section-title mb-3">
      <small class="d-block mb-3">EXPENSES</small>
      <div class="d-flex justify-content-between align-items-center">
        <span>Business Expenses</span>
        <ul class="report-actions-list list-inline mb-0 d-flex d-print-none">
          <li class="list-inline-item me-3">
            <a href="#" class="printLink" data-id="expenses">Print <i class="fas fa-print"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="/questionnaire/">Edit <i class="fas fa-pencil-alt"></i></a>
          </li>
        </ul>
      </div>
    </h2>
    {% if post.expenses_description %}
      <p class="lead mb-5">{{ post.expenses_description }}</p>
    {% endif %}
    <table class="expenses-table table caption-top mb-4">
      <caption class="table-label">INSURANCE & DUES</caption>
      <tbody>
        <tr>
          <td>E&O insurance</td>
          <td>{{ report.expenses.eo_insurance }}</td>
        </tr>
        <tr>
          <td>Realtor Dues</td>
          <td>{{ report.expenses.realtor_dues }}</td>
        </tr>
        <tr>
          <td>MLS Dues</td>
          <td>{{ report.expenses.mls_dues }}</td>
        </tr>
      </tbody>
    </table>
  
    <table class="expenses-table table caption-top mb-4">
      <caption class="table-label">AUTO & TRANSPORTATION</caption>
      <tbody>
        <tr>
          <td>Auto Lease/Purchase</td>
          <td>{{ report.expenses.lease_purchase_payments }}</td>
        </tr>
        <tr>
          <td>Auto Insurance</td>
          <td>{{ report.expenses.auto_insurance }}</td>
        </tr>
        <tr>
          <td>Fuel</td>
          <td>{{ report.expenses.fuel_expenses }}</td>
        </tr>
        <tr>
          <td>Toll Road - Fees</td>
          <td>{{ report.expenses.total_road_fees }}</td>
        </tr>
        <tr>
          <td>Other Auto/Transportation Expenses</td>
          <td>{{ report.expenses.other_auto_expenses }}</td>
        </tr>
      </tbody>
    </table>
  
    <table class="expenses-table table caption-top mb-4">
      <caption class="table-label">OFFICE & MAINTENANCE</caption>
      <tbody>
        <tr>
          <td>Office Rent</td>
          <td>{{ report.expenses.office_rent }}</td>
        </tr>
        <tr>
          <td>Phone & Internet</td>
          <td>{{ report.expenses.phone_internet_services }}</td>
        </tr>
        <tr>
          <td>Docusign</td>
          <td>{{ report.expenses.docusign }}</td>
        </tr>
        <tr>
          <td>Office Assistant/Employee</td>
          <td>{{ report.expenses.office_assistant_employee }}</td>
        </tr>
        <tr>
          <td>Other Office Expenses</td>
          <td>{{ report.expenses.other_office_expenses }}</td>
        </tr>
      </tbody>
    </table>
  
    <table class="expenses-table table caption-top mb-4">
      <caption class="table-label">MARKETING & ADVERTISING</caption>
      <tbody>
        <tr>
          <td>Digital Suite Membership</td>
          <td>{{ report.expenses.digital_suite_membership }}</td>
        </tr>
        <tr>
          <td>Print/Mail Campaigns</td>
          <td>{{ report.expenses.print_mail_campaigns }}</td>
        </tr>
        <tr>
          <td>Client Gifts</td>
          <td>{{ report.expenses.client_gifts }}</td>
        </tr>
        <tr>
          <td>Other</td>
          <td>{{ report.expenses.other_marketing_expenses }}</td>
        </tr>
      </tbody>
    </table>
  
    <table class="expenses-table table caption-top mb-4">
      <caption class="table-label">TITHING & SAVINGS</caption>
      <tbody>
        <tr>
          <td>Tithing</td>
          <td>{{ report.budgets.tithing }}</td>
        </tr>
        <tr>
          <td>Savings & Investment</td>
          <td>{{ report.budgets.savings }}</td>
        </tr>
      </tbody>
    </table>
  
    <table class="expenses-table table caption-top">
      <caption class="table-label">ADDITIONAL</caption>
      <tbody>
        <tr>
          <td>Additional Marketing</td>
          <td>{{ report.budgets.marketing }}</td>
        </tr>
      </tbody>
    </table>
    
  </div>
</section>