<section id="potential-income" class="report-section py-5 py-xl-7 bg-white">
  <div class="container">
    <h2 class="section-title mb-3">
      <small class="d-block mb-3">ASSUMPTIONS</small>
      <div class="d-flex justify-content-between align-items-center">
        <span>Potential Income</span>
        <ul class="report-actions-list list-inline mb-0 d-flex d-print-none">
          <li class="list-inline-item me-3">
            <a href="#" class="printLink" data-id="potential-income">Print <i class="fas fa-print"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="/questionnaire/">Edit <i class="fas fa-pencil-alt"></i></a>
          </li>
        </ul>
      </div>
    </h2>
    <p class="lead mb-5">The monkey-rope is found in all whalers; but it was only in the <strong class="fw-800">Pequod that the monkey</strong> and his holder were ever tied together. This improvement upon the original usage was introduced by no less a man than Stubb, in order to afford the imperilled harpooneer the strongest possible guarantee for the faithfulness and.</p>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="report-card rounded border-bottom border-8 border-secondary py-3 px-2 text-center">
          <span class="card-label d-block mb-2">HOTEL CONCIERGE</span>
          <span class="card-value d-block">
            {{ results.potential_income.hotel_concierge.sold_transactions }}
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="report-card rounded border-bottom border-8 border-info py-3 px-2 text-center">
          <span class="card-label d-block mb-2">DIVORCE LAWYERS</span>
          <span class="card-value d-block">
            {{ results.potential_income.divorce_attorneys.sold_transactions }}
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="report-card rounded border-bottom border-8 border-pink py-3 px-2 text-center">
          <span class="card-label d-block mb-2">WEALTH MGRS</span>
          <span class="card-value d-block">
            {{ results.potential_income.wealth_managers.sold_transactions }}
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="report-card rounded border-bottom border-8 border-primary py-3 px-2 text-center">
          <span class="card-label d-block mb-2">VENDORS</span>
          <span class="card-value d-block">
            {{ results.potential_income.vendors.sold_transactions }}
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="report-card rounded border-bottom border-8 border-gray-1 py-3 px-2 text-center">
          <span class="card-label d-block mb-2">CORE SUPPORT</span>
          <span class="card-value d-block">
            {{ results.potential_income.core_support_team.sold_transactions }}
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="report-card rounded border-bottom border-8 border-gray-2 py-3 px-2 text-center">
          <span class="card-label d-block mb-2">SOCIAL MEDIA</span>
          <span class="card-value d-block">
            {{ results.potential_income.social_media.sold_transactions }}
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="report-card rounded border-bottom border-8 border-warning py-3 px-2 text-center">
          <span class="card-label d-block mb-2">BUSINESS CARDS</span>
          <span class="card-value d-block">
            {{ results.potential_income.daily_cards.sold_transactions }}
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="report-card rounded border-bottom border-8 border-danger py-3 px-2 text-center">
          <span class="card-label d-block mb-2">GUARD GATE</span>
          <span class="card-value d-block">
            {{ results.potential_income.guard_gate.sold_transactions }}
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="report-card rounded border-bottom border-8 border-gray-3 py-3 px-2 text-center">
          <span class="card-label d-block mb-2">OPEN HOUSES</span>
          <span class="card-value d-block">
            {{ results.potential_income.open_houses.sold_transactions }}
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="report-card rounded border-bottom border-8 border-cyan py-3 px-2 text-center">
          <span class="card-label d-block mb-2">CRM DRIP</span>
          <span class="card-value d-block">
            {{ results.potential_income.crm.sold_transactions }}
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="report-card rounded border-bottom border-8 border-danger py-3 px-2 text-center">
          <span class="card-label d-block mb-2">HOA/DESIGN</span>
          <span class="card-value d-block">
            {{ results.potential_income.hoa.sold_transactions }}
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="report-card rounded border-bottom border-8 border-gray-4 py-3 px-2 text-center">
          <span class="card-label d-block mb-2">DIGITAL SUITE</span>
          <span class="card-value d-block">
            {{ results.potential_income.digital_suite.sold_transactions }}
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="report-card rounded border-bottom border-8 border-mustard py-3 px-2 text-center">
          <span class="card-label d-block mb-2">MARKETING MAIL</span>
          <span class="card-value d-block">
            {{ results.potential_income.marketing_mail.sold_transactions }}
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="report-card rounded border-bottom border-8 border-dark-blue py-3 px-2 text-center">
          <span class="card-label d-block mb-2">OTHER AGENTS</span>
          <span class="card-value d-block">
            {{ results.potential_income.outside_agents.sold_transactions }}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>