<section class="report-section py-5 py-xl-7 bg-white">
  <div class="container">
    <h2 class="section-title mb-3">
      <small class="d-block mb-3">YOUR RESULTS</small>
      The Bottom Line
    </h2>
    {% if post.bottom_line_description %}
      <p class="lead mb-5">{{ post.bottom_line_description }}</p>
    {% endif %}
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="report-card rounded border-bottom border-8 border-secondary py-3 px-2 text-center">
          <span class="card-label d-block mb-2">12 MONTH INCOME ESTIMATE</span>
          <span class="card-value d-block">
            {{ '$' ~ fn('d_nice_number', income_estimate.months_12|replace({'$' : ''})) }}
          </span>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="report-card rounded border-bottom border-8 border-pink py-3 px-2 text-center">
          <span class="card-label d-block mb-2">24 MONTH INCOME ESTIMATE</span>
          <span class="card-value d-block">
            {{ '$' ~ fn('d_nice_number', income_estimate.months_24|replace({'$' : ''})) }}
          </span>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="report-card rounded border-bottom border-8 border-warning py-3 px-2 text-center">
          <span class="card-label d-block mb-2">60 MONTH INCOME ESTIMATE</span>
          <span class="card-value d-block">
            {{ '$' ~ fn('d_nice_number', income_estimate.months_60|replace({'$' : ''})) }}
          </span>
        </div>
      </div>
    </div>
    {% if post.disclaimer %}
      <small class="report-disclaimer d-block">{{ post.disclaimer }}</small>
    {% endif %}
    <h2 class="mb-0 text-center fw-800 mt-5">Congratulations, {{ user.first_name ? user.first_name : user.display_name|title }}! You are on track to meet your goals.</h2>
  </div>
</section>