<nav class="navbar grid-18-col bg-dark">
  <div class="container px-2 px-xl-3">
    {% if theme_options.site_logo %}
      <a class="navbar-brand mr-auto" href="{{ site.link }}">
        <img src="{{ theme_options.site_logo }}" alt="{{ site.name }}">
      </a>
    {% endif %}
    {% if is_user_logged_in %}
      <div class="user-nav dropdown">
        <button class="btn btn-link text-white dropdown-toggle" type="button" id="userMenuDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          {% if user.avatar %}
            <img src="{{ user.avatar }}"
                 width="34"
                 height="34"
                 class="rounded-circle me-1"
                 alt="{{ user.first_name ? user.first_name : user.display_name|title }}">
          {% endif %}
          Hi, <strong class="fw-700">{{ user.first_name ? user.first_name : user.display_name|title }}</strong>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenuDropdown">
          <li><a class="dropdown-item" href="/my-profile/">My Profile</a></li>
          <li><a class="dropdown-item {{ not user.is_report_available ? 'disabled' }}" href="{{ user.is_report_available ? '/my-report/' : '#' }}">View My Report</a></li>
          <li><a class="dropdown-item" href="/edit-profile/">Edit Profile</a></li>
          <li><a class="dropdown-item" href="{{ fn('get_edit_profile_url') }}">Change Password</a></li>
          <li><a class="dropdown-item" href="{{ fn('wp_logout_url', site.link) }}">Logout</a></li>
        </ul>
      </div>
    {% else %}
      <a href="{{ site.link ~ '/login/' }}" class="btn btn-outline-primary btn-lg">LOGIN</a>
    {% endif %}
  </div>
</nav>