<nav class="navbar grid-18-col bg-dark">
  <div class="container px-2 px-xl-3">
    {% if theme_options.site_logo %}
      <a class="navbar-brand mr-auto" href="{{ site.link }}">
        <img src="{{ theme_options.site_logo }}" alt="{{ site.name }}">
      </a>
    {% endif %}
    {% if is_user_logged_in %}
      <a href="{{ fn('wp_logout_url', site.link) }}" class="btn btn-outline-primary btn-lg">LOG OUT</a>
    {% else %}
      <a href="{{ fn('wp_login_url', site.link) }}" class="btn btn-outline-primary btn-lg">LOGIN</a>
    {% endif %}
  </div>
</nav>